ase==3.23.0
matminer==0.9.3
matplotlib==3.9.2
networkx==3.4.2
numpy==2.1.2
omegaconf==2.3.0
p_tqdm==1.4.2
pandas==2.2.3
Pillow==11.0.0
pymatgen==2024.10.22
pytest==8.3.3
python-dotenv==1.0.1
pytorch_lightning==1.5.0
hydra-core
scikit_learn==1.5.2
scipy==1.14.1
setuptools==65.5.0
smact==2.8
sympy==1.12
tensorboard==2.16.2
torch==2.1.0+cu118
torch_geometric==2.6.1
torch_scatter==2.1.2+pt21cu118
torch_sparse==0.6.18+pt21cu118
tqdm==4.66.4
