{
    "atoms": [
        [
            1,
            "Zn",
            [
                0.99594849,
                0.9965781,
                0.33268175
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            2,
            "Zn",
            [
                0.16313446,
                0.49856946,
                0.16433029
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            3,
            "Zn",
            [
                0.99832284,
                0.3337402,
                0.33324
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            4,
            "Zn",
            [
                0.33011416,
                0.33206466,
                0.00021614
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            5,
            "Zn",
            [
                0.50036335,
                0.49830228,
                0.16663828
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            6,
            "Zn",
            [
                0.32981145,
                0.66592848,
                0.33104458
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            7,
            "Zn",
            [
                0.6612395,
                0.99624497,
                0.9991563
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            8,
            "Zn",
            [
                0.8338244,
                0.16298336,
                0.16278718
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            9,
            "Zn",
            [
                0.66617811,
                0.33129895,
                0.99705744
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            10,
            "Zn",
            [
                0.83075029,
                0.50226527,
                0.16441737
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            11,
            "Zn",
            [
                0.99566311,
                0.99814558,
                0.6618908
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            12,
            "Zn",
            [
                0.163619,
                0.16136312,
                0.83230925
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            13,
            "Zn",
            [
                0.99656558,
                0.33366218,
                0.66312253
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            14,
            "Zn",
            [
                0.16342106,
                0.83149195,
                0.49774224
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            15,
            "Zn",
            [
                0.99982685,
                0.66206843,
                0.66304034
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            16,
            "Zn",
            [
                0.49611998,
                0.16672289,
                0.49624568
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            17,
            "Zn",
            [
                0.33318862,
                0.99332505,
                0.66509497
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            18,
            "Zn",
            [
                0.49605817,
                0.16593517,
                0.83041251
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            19,
            "Zn",
            [
                0.49796197,
                0.4981555,
                0.49828839
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            20,
            "Zn",
            [
                0.49837753,
                0.49999923,
                0.82934964
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            21,
            "Zn",
            [
                0.66475618,
                0.99677342,
                0.6630398
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            22,
            "Zn",
            [
                0.8333689,
                0.16559938,
                0.83208698
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            23,
            "Zn",
            [
                0.83446413,
                0.82923782,
                0.83321983
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            24,
            "Zn",
            [
                0.16221371,
                0.83189219,
                0.16337503
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            25,
            "Zn",
            [
                0.32742155,
                0.99528593,
                0.99974263
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            26,
            "Zn",
            [
                0.49644884,
                0.16301218,
                0.16812979
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            27,
            "Zn",
            [
                0.3321757,
                0.99940819,
                0.32947063
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            28,
            "Zn",
            [
                0.33087799,
                0.32806319,
                0.32980144
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            29,
            "Zn",
            [
                0.32936153,
                0.66813588,
                0.99683064
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            30,
            "Zn",
            [
                0.49756247,
                0.8333137,
                0.16543001
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            31,
            "Zn",
            [
                0.66709036,
                0.66516399,
                0.99757373
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            32,
            "Zn",
            [
                0.83358479,
                0.83041811,
                0.16535974
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            33,
            "Zn",
            [
                0.6681546,
                0.66690719,
                0.33247337
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            34,
            "Zn",
            [
                0.16538209,
                0.16594484,
                0.49702141
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            35,
            "Zn",
            [
                0.16547778,
                0.49871504,
                0.49762207
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            36,
            "Zn",
            [
                0.16221271,
                0.49995518,
                0.8329215
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            37,
            "Zn",
            [
                0.16588822,
                0.82756674,
                0.83308852
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            38,
            "Zn",
            [
                0.32884777,
                0.33351809,
                0.6640327
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            39,
            "Zn",
            [
                0.50024176,
                0.82988942,
                0.49704918
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            40,
            "Zn",
            [
                0.49685603,
                0.82871616,
                0.83209562
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            41,
            "Zn",
            [
                0.82843918,
                0.16420685,
                0.49592507
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            42,
            "Zn",
            [
                0.82966459,
                0.49997059,
                0.49630278
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            43,
            "Zn",
            [
                0.6660161,
                0.33449334,
                0.66373694
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            44,
            "Zn",
            [
                0.66563845,
                0.6650573,
                0.66358185
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            45,
            "Zn",
            [
                0.00053361,
                0.99467093,
                0.9993996
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            46,
            "Zn",
            [
                0.16699481,
                0.15967329,
                0.16476709
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            47,
            "Zn",
            [
                0.9996767,
                0.333415,
                0.99655813
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            48,
            "Zn",
            [
                0.00055613,
                0.66518682,
                0.99731761
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            49,
            "Zn",
            [
                0.99728733,
                0.66489214,
                0.33243749
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            50,
            "Zn",
            [
                0.66152263,
                0.99706632,
                0.33147997
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            51,
            "Zn",
            [
                0.66378671,
                0.32847562,
                0.33197278
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            52,
            "Zn",
            [
                0.33261517,
                0.66289955,
                0.66700381
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            53,
            "Zn",
            [
                0.83127338,
                0.50119847,
                0.83212012
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            54,
            "Zn",
            [
                0.82969886,
                0.82901204,
                0.49454618
            ],
            [
                0,
                0,
                0
            ]
        ]
    ],
    "atomic_position_unit": "cartesian",
    "lattice_vectors": [
        [
            7.49854708,
            0.0,
            4.591535839888866e-16
        ],
        [
            1.2058583399014606e-15,
            7.49854708,
            4.591535839888866e-16
        ],
        [
            0.0,
            0.0,
            10.6045475
        ]
    ],
    "energy": [
        0,
        "Ha"
    ]
}