{
    "atoms": [
        [
            1,
            "Zn",
            [
                0.79688239,
                0.22998576,
                0.88125682
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            2,
            "Zn",
            [
                0.7915166,
                0.56744742,
                0.54661191
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            3,
            "Zn",
            [
                0.62433583,
                0.73588055,
                0.71923572
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            4,
            "Zn",
            [
                0.79865015,
                0.90108424,
                0.55021977
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            5,
            "Zn",
            [
                0.96281284,
                0.40394816,
                0.38133869
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            6,
            "Zn",
            [
                0.45689961,
                0.90084255,
                0.88458073
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            7,
            "Zn",
            [
                0.12104476,
                0.56902224,
                0.21522292
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            8,
            "Zn",
            [
                0.29339969,
                0.73474586,
                0.38042527
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            9,
            "Zn",
            [
                0.45776367,
                0.90401852,
                0.54992616
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            10,
            "Zn",
            [
                0.29119539,
                0.40407252,
                0.04709909
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            11,
            "Zn",
            [
                0.62740654,
                0.06878889,
                0.38155514
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            12,
            "Zn",
            [
                0.79125643,
                0.23518881,
                0.54828459
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            13,
            "Zn",
            [
                0.63239014,
                0.40276846,
                0.04690565
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            14,
            "Zn",
            [
                0.12441292,
                0.90170896,
                0.88360852
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            15,
            "Zn",
            [
                0.1235757,
                0.23639022,
                0.88082445
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            16,
            "Zn",
            [
                0.45962805,
                0.56874484,
                0.88413405
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            17,
            "Zn",
            [
                0.45840174,
                0.23432198,
                0.21609974
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            18,
            "Zn",
            [
                0.45662621,
                0.56961107,
                0.5490182
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            19,
            "Zn",
            [
                0.95795238,
                0.40271467,
                0.05083876
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            20,
            "Zn",
            [
                0.12442079,
                0.2305681,
                0.21557426
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            21,
            "Zn",
            [
                0.2913866,
                0.06621837,
                0.38385189
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            22,
            "Zn",
            [
                0.78880852,
                0.56720322,
                0.21851838
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            23,
            "Zn",
            [
                0.62819922,
                0.06753024,
                0.04691518
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            24,
            "Zn",
            [
                0.95911157,
                0.73658794,
                0.37999967
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            25,
            "Zn",
            [
                0.79093325,
                0.89971101,
                0.21302292
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            26,
            "Zn",
            [
                0.96124738,
                0.06816195,
                0.38021177
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            27,
            "Zn",
            [
                0.12319942,
                0.90015,
                0.2130895
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            28,
            "Zn",
            [
                0.6250304,
                0.3984198,
                0.71852171
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            29,
            "Zn",
            [
                0.29257903,
                0.40129545,
                0.38430473
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            30,
            "Zn",
            [
                0.45942199,
                0.90348983,
                0.2153246
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            31,
            "Zn",
            [
                0.62427914,
                0.40545377,
                0.37969023
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            32,
            "Zn",
            [
                0.12825392,
                0.56825453,
                0.55069923
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            33,
            "Zn",
            [
                0.6260764,
                0.73636043,
                0.05030832
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            34,
            "Zn",
            [
                0.95837069,
                0.06890333,
                0.71475345
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            35,
            "Zn",
            [
                0.62592292,
                0.73590559,
                0.38114202
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            36,
            "Zn",
            [
                0.95831609,
                0.73615682,
                0.0492624
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            37,
            "Zn",
            [
                0.12408959,
                0.23627357,
                0.54827636
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            38,
            "Zn",
            [
                0.79271483,
                0.90132964,
                0.88327307
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            39,
            "Zn",
            [
                0.29180676,
                0.73742789,
                0.05130426
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            40,
            "Zn",
            [
                0.29429603,
                0.40198699,
                0.71472329
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            41,
            "Zn",
            [
                0.12549257,
                0.90237069,
                0.55052018
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            42,
            "Zn",
            [
                0.45504087,
                0.23651212,
                0.54982114
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            43,
            "Zn",
            [
                0.45394138,
                0.23178789,
                0.88437515
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            44,
            "Zn",
            [
                0.96345305,
                0.73266292,
                0.71787018
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            45,
            "Zn",
            [
                0.79517162,
                0.23090506,
                0.21720555
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            46,
            "Zn",
            [
                0.96351534,
                0.40388295,
                0.71632618
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            47,
            "Zn",
            [
                0.29155195,
                0.06773313,
                0.71682191
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            48,
            "Zn",
            [
                0.46033746,
                0.57200861,
                0.21696222
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            49,
            "Zn",
            [
                0.28903821,
                0.73504597,
                0.71187282
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            50,
            "Zn",
            [
                0.29366085,
                0.066927,
                0.04966176
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            51,
            "Zn",
            [
                0.62274063,
                0.06985117,
                0.71529233
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            52,
            "Zn",
            [
                0.12179396,
                0.57061738,
                0.88073474
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            53,
            "Zn",
            [
                0.79810959,
                0.56826568,
                0.8847912
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            54,
            "Zn",
            [
                0.95913237,
                0.06331111,
                0.05178145
            ],
            [
                0,
                0,
                0
            ]
        ]
    ],
    "atomic_position_unit": "cartesian",
    "lattice_vectors": [
        [
            7.49535084,
            0.0,
            4.589578707346213e-16
        ],
        [
            1.2053443453076804e-15,
            7.49535084,
            4.589578707346213e-16
        ],
        [
            0.0,
            0.0,
            10.60002708
        ]
    ],
    "energy": [
        0,
        "Ha"
    ]
}