{
    "atoms": [
        [
            1,
            "Zn",
            [
                7.552174655551643,
                7.584412501126062,
                10.69249225539675
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            2,
            "Zn",
            [
                7.553996785025217,
                7.594169503737828,
                3.476396083837034
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            3,
            "Zn",
            [
                7.588894701484107,
                2.474455946888146,
                3.4652300707386425
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            4,
            "Zn",
            [
                2.4515709410751834,
                7.562543588960561,
                3.524316102946761
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            5,
            "Zn",
            [
                2.4500439000962815,
                2.4544223691392038,
                10.65445272382022
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            6,
            "Zn",
            [
                2.4145585544974515,
                2.4602349102560837,
                3.475415289036017
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            7,
            "Zn",
            [
                3.726258818904609,
                1.1609768316355775,
                1.698579966123119
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            8,
            "Zn",
            [
                4.9902552726655225,
                7.553179681472326,
                10.653389782327197
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            9,
            "Zn",
            [
                5.0445585016380585,
                2.464393017042379,
                10.697026299423504
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            10,
            "Zn",
            [
                5.031755965933312,
                2.4452638633941564,
                3.465513536196211
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            11,
            "Zn",
            [
                7.542803496794138,
                4.971971846001514,
                10.697710891172134
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            12,
            "Zn",
            [
                1.224306974898218,
                6.2837108092878236,
                1.6567993597701416
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            13,
            "Zn",
            [
                7.56870648087686,
                4.976242538284355,
                3.4615427529301535
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            14,
            "Zn",
            [
                2.433755259443602,
                4.974782132653578,
                3.5148744147604813
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            15,
            "Zn",
            [
                3.7128189347956937,
                3.7461982064822044,
                1.6721300266455552
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            16,
            "Zn",
            [
                3.727572977883603,
                6.280006097653716,
                1.6830749669118437
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            17,
            "Zn",
            [
                5.001135993026533,
                4.99948674907816,
                10.687109434183068
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            18,
            "Zn",
            [
                6.26524907772895,
                6.294883641306649,
                1.693465821803532
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            19,
            "Zn",
            [
                5.016667295850928,
                5.003695156774437,
                3.4576822901887088
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            20,
            "Zn",
            [
                7.557357099533622,
                7.568382539963411,
                7.063304403884256
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            21,
            "Zn",
            [
                2.457839548864509,
                7.56198218806084,
                7.051981761547887
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            22,
            "Zn",
            [
                2.4500966435390694,
                2.4600443163680343,
                7.101009951406814
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            23,
            "Zn",
            [
                3.7528834187733215,
                1.1675196900615712,
                5.26417537550475
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            24,
            "Zn",
            [
                4.980554219320854,
                7.533967329050385,
                7.12062681893862
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            25,
            "Zn",
            [
                5.0143971142656785,
                2.4658488429241436,
                7.078426411685229
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            26,
            "Zn",
            [
                1.212115225053373,
                6.267028462878413,
                5.279269749201711
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            27,
            "Zn",
            [
                7.5449017088039865,
                4.986084647898593,
                7.076088199470302
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            28,
            "Zn",
            [
                2.4832354784024515,
                5.032566276191837,
                7.046485057600871
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            29,
            "Zn",
            [
                3.7251175454508187,
                3.759532603705544,
                5.283438720807486
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            30,
            "Zn",
            [
                6.270361909525947,
                3.7264282696180526,
                5.318373733511324
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            31,
            "Zn",
            [
                6.260335541343126,
                6.29074721199901,
                5.27736105300189
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            32,
            "Zn",
            [
                1.201929863250684,
                1.221491955838841,
                8.881231747409904
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            33,
            "Zn",
            [
                6.281978824540635,
                1.1867528803415166,
                8.877586852268903
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            34,
            "Zn",
            [
                1.1969684684876851,
                6.26200119605879,
                8.896005738213466
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            35,
            "Zn",
            [
                3.7040901621662723,
                3.7348643199564573,
                8.880367641930912
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            36,
            "Zn",
            [
                6.295561978464478,
                3.7217973037462686,
                8.838218724785389
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            37,
            "Zn",
            [
                6.277426477693558,
                6.259504393226597,
                8.875340070077801
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            38,
            "Zn",
            [
                1.1856527482996844,
                1.2018763565163937,
                1.6194100932036664
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            39,
            "Zn",
            [
                7.539439518486524,
                2.4691009226975646,
                10.707814286614656
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            40,
            "Zn",
            [
                2.4683108396638462,
                7.541570552030957,
                10.65713182861512
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            41,
            "Zn",
            [
                6.292428285203016,
                1.1998298956703815,
                1.6746798124693298
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            42,
            "Zn",
            [
                5.034958889734006,
                7.573204634027295,
                3.495904573867164
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            43,
            "Zn",
            [
                1.1869615642381641,
                3.7170125346368317,
                1.62771079514223
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            44,
            "Zn",
            [
                2.4553416010950633,
                5.009196503945952,
                10.653474735607894
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            45,
            "Zn",
            [
                6.296860413638529,
                3.7125362116233527,
                1.6809371019510098
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            46,
            "Zn",
            [
                1.1435579852558861,
                1.2277617848945694,
                5.316589930508153
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            47,
            "Zn",
            [
                7.578887491917986,
                2.44232664136531,
                7.073201946841028
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            48,
            "Zn",
            [
                6.290239928466781,
                1.2002252806684175,
                5.29136064121878
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            49,
            "Zn",
            [
                1.154628536213444,
                3.686089535003756,
                5.324087840136001
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            50,
            "Zn",
            [
                3.8006759238920997,
                6.272970152917431,
                5.251676880453493
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            51,
            "Zn",
            [
                4.965720335941835,
                5.046179503800857,
                7.09145535199867
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            52,
            "Zn",
            [
                3.7407890649241313,
                1.1454396514666163,
                8.891275988598526
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            53,
            "Zn",
            [
                1.138169681555818,
                3.740780134413558,
                8.896820188661813
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            54,
            "Zn",
            [
                3.721542975017803,
                6.280729011035261,
                8.905544793438104
            ],
            [
                0,
                0,
                0
            ]
        ]
    ],
    "atomic_position_unit": "cartesian",
    "lattice_vectors": [
        [
            7.63291502,
            0.0,
            4.673812473703378e-16
        ],
        [
            1.2274663526718998e-15,
            7.63291502,
            4.673812473703378e-16
        ],
        [
            0.0,
            0.0,
            10.79457188
        ]
    ],
    "energy": [
        0,
        "Ha"
    ]
}