{
    "atoms": [
        [
            1,
            "Zn",
            [
                7.551369308506827,
                7.564403842645597,
                10.65483269473006
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            2,
            "Zn",
            [
                1.1634500053445753,
                1.3075435255098324,
                1.7212105718714508
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            3,
            "Zn",
            [
                7.543313562583187,
                2.475053248633175,
                3.5548238174730797
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            4,
            "Zn",
            [
                4.961066841781354,
                7.45429676064241,
                10.690563672838408
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            5,
            "Zn",
            [
                5.034271966626255,
                2.4366829934042675,
                10.694942255825248
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            6,
            "Zn",
            [
                2.5113527507293534,
                5.063619676452973,
                10.669976783705456
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            7,
            "Zn",
            [
                3.681140409211753,
                3.705151172090765,
                1.6620163807101507
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            8,
            "Zn",
            [
                6.338276059100398,
                3.6783993112273072,
                1.6455447742329843
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            9,
            "Zn",
            [
                1.1862375301471728,
                1.2038907082403423,
                5.216069304925206
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            10,
            "Zn",
            [
                7.600308377371865,
                7.6020772538585675,
                7.130630338563654
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            11,
            "Zn",
            [
                2.4868899747292086,
                7.514365936679702,
                7.113851692364917
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            12,
            "Zn",
            [
                2.410224761608348,
                2.459869151167215,
                7.1318797731534636
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            13,
            "Zn",
            [
                1.1998012075392506,
                3.744477077293967,
                5.286486591698803
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            14,
            "Zn",
            [
                3.7736185976584355,
                3.79155356801668,
                8.871195104744984
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            15,
            "Zn",
            [
                6.194650436281513,
                6.22193075310007,
                8.877786900891907
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            16,
            "Zn",
            [
                7.516823867802658,
                7.5416548829090875,
                3.479890789623867
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            17,
            "Zn",
            [
                2.423289536868249,
                7.586393108763417,
                10.645505728696232
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            18,
            "Zn",
            [
                2.4678340973609987,
                7.554437178605705,
                3.4599077200770183
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            19,
            "Zn",
            [
                2.422393300005668,
                2.489731418251947,
                10.607162482988404
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            20,
            "Zn",
            [
                3.750217773755345,
                1.1680968285254825,
                1.659672057377015
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            21,
            "Zn",
            [
                5.024094607502531,
                7.545882606916355,
                3.476141081873995
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            22,
            "Zn",
            [
                5.0289104296760145,
                2.4507516822459223,
                3.4812876421594896
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            23,
            "Zn",
            [
                7.5560221646386685,
                5.0129596128763545,
                10.67701266966423
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            24,
            "Zn",
            [
                1.1821847617169485,
                6.28599183349299,
                1.6796779146063294
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            25,
            "Zn",
            [
                7.537201419623891,
                5.002945143427808,
                3.488067679683373
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            26,
            "Zn",
            [
                2.4579835867181736,
                4.980727388839227,
                3.4542172793701993
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            27,
            "Zn",
            [
                5.017855925306585,
                4.998746133212319,
                3.4688561513855194
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            28,
            "Zn",
            [
                3.72836123255804,
                1.18964935481567,
                5.281416278350848
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            29,
            "Zn",
            [
                5.038819666132348,
                7.52566214091877,
                7.058607546161899
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            30,
            "Zn",
            [
                5.03057414953697,
                2.465397090650137,
                7.0681191896223465
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            31,
            "Zn",
            [
                1.1815336612150436,
                6.278519145548712,
                5.289382031352434
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            32,
            "Zn",
            [
                7.558102769045705,
                5.0051036416316945,
                7.081933493127578
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            33,
            "Zn",
            [
                3.7260859700253453,
                3.7286049943223,
                5.306667946482656
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            34,
            "Zn",
            [
                3.734263062265843,
                6.259232259616315,
                5.29009492941859
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            35,
            "Zn",
            [
                3.74712141896409,
                1.1789481980913625,
                8.867965625746008
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            36,
            "Zn",
            [
                6.287181164857834,
                1.1914454177648024,
                8.883640203329337
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            37,
            "Zn",
            [
                6.311093185894371,
                3.7096512952876046,
                8.893791089882281
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            38,
            "Zn",
            [
                7.5838113112301775,
                2.4750250694066676,
                10.658608106121763
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            39,
            "Zn",
            [
                2.5084884736328306,
                2.458663859210662,
                3.4637568944408774
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            40,
            "Zn",
            [
                6.275689309729032,
                1.1405833648816475,
                1.6640147848634812
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            41,
            "Zn",
            [
                1.1949430019763032,
                3.7719706092897844,
                1.6717422931848764
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            42,
            "Zn",
            [
                3.7332172998598985,
                6.279929710569904,
                1.716776909652111
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            43,
            "Zn",
            [
                5.025925799026713,
                4.994734220842207,
                10.720539195145887
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            44,
            "Zn",
            [
                6.276556374601029,
                6.2615295920581175,
                1.6934563626111876
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            45,
            "Zn",
            [
                7.518251309813167,
                2.4859741880509474,
                7.081721060087716
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            46,
            "Zn",
            [
                6.254674097904175,
                1.18190457314769,
                5.2979464200123605
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            47,
            "Zn",
            [
                2.4678980924607634,
                5.007512010917242,
                7.110578473975426
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            48,
            "Zn",
            [
                6.25423896177236,
                3.7489785750872224,
                5.3045510679802
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            49,
            "Zn",
            [
                6.275539555086266,
                6.271146115844522,
                5.280275058253127
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            50,
            "Zn",
            [
                5.011676885321759,
                5.008544791023712,
                7.044539662190173
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            51,
            "Zn",
            [
                1.1698875458218903,
                1.2160932297157,
                8.889968591146712
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            52,
            "Zn",
            [
                1.1630997887246206,
                3.7590482574917727,
                8.873667730290299
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            53,
            "Zn",
            [
                1.182621196078711,
                6.254710066510367,
                8.879903455398876
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            54,
            "Zn",
            [
                3.714759066466343,
                6.2850031932047346,
                8.846455025484465
            ],
            [
                0,
                0,
                0
            ]
        ]
    ],
    "atomic_position_unit": "cartesian",
    "lattice_vectors": [
        [
            7.63664675,
            0.0,
            4.676097499303269e-16
        ],
        [
            1.2280664606254475e-15,
            7.63664675,
            4.676097499303269e-16
        ],
        [
            0.0,
            0.0,
            10.79984951
        ]
    ],
    "energy": [
        0,
        "Ha"
    ]
}