{
    "atoms": [
        [
            1,
            "Fe",
            [
                1.1513763000041486,
                1.0347075019704708,
                6.25646110378693
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            2,
            "Fe",
            [
                0.28396727134282734,
                6.022081427492442,
                8.6148223205161
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            3,
            "Fe",
            [
                7.383007450243181,
                7.312848041523752,
                4.421524689515664
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            4,
            "Fe",
            [
                1.584346935353456,
                7.3171870632489,
                10.446186133153615
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            5,
            "Fe",
            [
                6.149933448099131,
                6.067660136618359,
                2.569708414815158
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            6,
            "Fe",
            [
                2.849510254443686,
                6.060185075872235,
                1.3772282911077596
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            7,
            "Fe",
            [
                7.007688856460658,
                3.5400614725504314,
                0.16522437815807645
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            8,
            "Fe",
            [
                4.092088079590333,
                7.318456423115342,
                3.2288446439392255
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            9,
            "Fe",
            [
                7.380693070727217,
                2.3146473468365514,
                4.433485453946157
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            10,
            "Fe",
            [
                4.073807021880176,
                4.767790680332698,
                3.2773752985986513
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            11,
            "Fe",
            [
                4.480594322331427,
                3.5660441098592437,
                7.446356322201666
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            12,
            "Fe",
            [
                7.4111435616482595,
                4.781243293954558,
                4.454972506266429
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            13,
            "Fe",
            [
                0.7493062990846238,
                4.8186273176747845,
                2.039523199122635
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            14,
            "Fe",
            [
                0.7315283738919999,
                2.307044192449991,
                2.0445349999533944
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            15,
            "Fe",
            [
                6.96262061463735,
                6.064565818237314,
                0.1745441378765336
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            16,
            "Fe",
            [
                0.29464196353546274,
                3.5563991248027627,
                8.63860327592854
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            17,
            "Fe",
            [
                6.140261638664403,
                3.558257685346283,
                2.6031004570466623
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            18,
            "Fe",
            [
                3.203872334123151,
                4.772635085593444,
                5.646970911407472
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            19,
            "Fe",
            [
                4.871014933943383,
                2.2820880332281295,
                0.8084824138988171
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            20,
            "Fe",
            [
                0.34022776892550616,
                1.0281477394438063,
                8.68116226652573
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            21,
            "Ni",
            [
                5.720983663834065,
                4.8024881203583405,
                9.218278251411705
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            22,
            "Ni",
            [
                1.5967829671660276,
                2.305856845589252,
                10.444603328107014
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            23,
            "Ni",
            [
                6.5470301486870035,
                4.807133168615308,
                6.823339996651135
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            24,
            "Ni",
            [
                1.9886914800802067,
                6.098022088018091,
                3.844139934923398
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            25,
            "Ni",
            [
                1.161635874047049,
                3.562308195691152,
                6.2413075459538465
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            26,
            "Ni",
            [
                2.3977712128267568,
                2.295844869246026,
                8.04164058207529
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            27,
            "Ni",
            [
                1.985169251810621,
                3.527197383054734,
                3.8785848701185053
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            28,
            "Ni",
            [
                4.476500940192596,
                6.051179957639344,
                7.4416543677779075
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            29,
            "Ni",
            [
                6.569154149702942,
                2.2796272671954427,
                6.8148558800212555
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            30,
            "Ni",
            [
                3.217976655352985,
                7.307279125402368,
                5.6442235560587095
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            31,
            "Ni",
            [
                2.8136627766057902,
                1.0537723309724538,
                1.3687170994685305
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            32,
            "Ni",
            [
                5.272531970128597,
                6.059625868952511,
                5.055590434681967
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            33,
            "Ni",
            [
                1.1439935405875643,
                6.052706933060819,
                6.233348251305209
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            34,
            "Ni",
            [
                4.07665407246751,
                2.2775915254837824,
                3.2485648894493533
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            35,
            "Ni",
            [
                3.6394415354313234,
                6.056342041142159,
                9.8216495999781
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            36,
            "Ni",
            [
                5.304411134920755,
                3.548652767138601,
                5.057890402576231
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            37,
            "Ni",
            [
                4.476465163216447,
                1.0374318973441272,
                7.417859983160827
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            38,
            "Ni",
            [
                3.2408319798519813,
                2.286673695348978,
                5.629468975563408
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            39,
            "Ni",
            [
                6.555519739512788,
                7.312787602975096,
                6.819679888587165
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            40,
            "Ni",
            [
                6.14153036840685,
                1.032700476086655,
                2.6005384030618903
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            41,
            "Ni",
            [
                2.838392032973195,
                3.5323507465679405,
                1.3937227117038917
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            42,
            "Ni",
            [
                1.6267586615359415,
                4.832529311450711,
                10.422478821766607
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            43,
            "Ni",
            [
                3.6591922301470525,
                3.544909035048793,
                9.851020028620793
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            44,
            "Ni",
            [
                3.6631397985595586,
                1.0543652150934193,
                9.812297350248423
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            45,
            "Ni",
            [
                2.440277943416498,
                7.305029819117656,
                8.03932382767523
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            46,
            "Ni",
            [
                7.000869434094999,
                1.0292570574320254,
                0.2105316988043663
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            47,
            "Ni",
            [
                5.2940390437910985,
                1.0600824462104503,
                5.0217862025081175
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            48,
            "Ni",
            [
                2.4313710547512537,
                4.790046800013944,
                8.037320168683292
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            49,
            "Ni",
            [
                4.877204501140694,
                4.7887021926509785,
                0.7904313968651347
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            50,
            "Ni",
            [
                5.737717743134324,
                2.3011526367131396,
                9.231409414346379
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            51,
            "Ni",
            [
                0.7541631739203616,
                7.335803188647733,
                1.9947826125720591
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            52,
            "Ni",
            [
                1.998359907237777,
                1.0401167520752546,
                3.793295991465107
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            53,
            "Ni",
            [
                5.695183879165613,
                7.346859083057125,
                9.204034847092931
            ],
            [
                0,
                0,
                0
            ]
        ],
        [
            54,
            "Ni",
            [
                4.908533933152269,
                7.297462521929739,
                0.7873732204090338
            ],
            [
                0,
                0,
                0
            ]
        ]
    ],
    "atomic_position_unit": "cartesian",
    "lattice_vectors": [
        [
            7.51617146,
            0.0,
            4.602327660165844e-16
        ],
        [
            1.2088631717485515e-15,
            7.51723242,
            4.602977310799856e-16
        ],
        [
            0.0,
            0.0,
            10.83000374
        ]
    ],
    "energy": [
        0,
        "Ha"
    ]
}